/* sirin-stencil-regular - latin */
@font-face {
  font-family: 'Sirin Stencil';
  font-style: normal;
  font-weight: 400;
  src: local('SirinStencil'), local('SirinStencil-Regular'),
       url('../fonts/sirin-stencil-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/sirin-stencil-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dancing-script-regular - latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'),
       url('../fonts/dancing-script-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/dancing-script-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  background-color: rgb(255, 255, 255);
  font-size: 14px;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Menlo, Consolas, "Courier New", monospace;
}

header {
  text-align: center;
}

h1 {
  font-size: calc(12rem + 8vw);
  font-family: "Sirin Stencil";
  font-weight: 300;
  align-content: center;
  margin: 0;
  color: rgb(0, 133, 61);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(50, 50, 50);
  border-bottom: 3px solid rgba(100, 100, 100, 0.1);

}
a:hover {
  background-color: rgba(100, 100, 100, 0.1);
}

footer {
  font-size: 0.75rem;
  color: rgb(50, 50, 50);
  text-align: center;
}
