@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  src: url("../fonts/inter-3.3/Inter-SemiBold.woff2") format("woff2"),
       url("../fonts/inter-3.3/") format("woff");
}

html {
  background: linear-gradient(to right top, rgb(62, 62, 43), rgb(0, 0, 0));
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  color: rgb(255, 255, 255);
  cursor: default;
}

body {
  background: linear-gradient(to right top, rgb(27, 147, 210), rgb(5, 111, 168));
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Menlo, Consolas, "Courier New", monospace;
  animation: 90s ease-in-out infinite alternate circadian;
}

header {
  text-align: center;
}

h1 {
  font-size: calc(6rem + 10vw);
  font-family: "Inter", Helvetica, Arial;
  font-weight: 300;
  align-content: center;
  margin: 0;
  padding: 0.1em 0.3em;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 1s all;
}

h1:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

p {
  margin: 0;
}

a:hover {
  background-color: rgba(100, 100, 100, 0.1);
}

footer {
  font-size: 0.8rem;
  text-align: center;
}

@keyframes circadian {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.15;
  }
}
